<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="hero-card.css">
    <title>Dota tbh</title>
    <style> 
        input[type=text] {
          width: 100%;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          background-image: url('searchicon.png');
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
        }
        </style>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <form action="/match" method="POST">
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
        <div>
            
        </div>
        <div>
        </div>
    </div>
    
    
</body>
</html>