<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="hero-card.css">
    <link rel="stylesheet" type="text/css" href="player-cards.css">
    <title>Dota tbh</title>
    <style> 
        
        </style>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <form action="/match" method="POST">
                <input type="text" name="search" placeholder="Search by Match ID...">
            </form>
            <form action="/players" method="POST">
                <input type="text" name="playerName" placeholder="Search Players">
            </form>
        </div>
        <div>
            
        </div>
        <div>
            <% if (locals.PlayersList) { %>
            <%- include("players.ejs", {PlayersList: PlayersList}) %>
            <% } %>
        </div>
    </div>
    
    
</body>
</html>